* {margin: 0;}
.h1prin {
    padding-top: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 60px;
    border-bottom: 1px solid #fff;
}

.div1{
    width: 100%;
}

.pinici{
    color: #fff;
    font-size: 20px;
    padding: 50px;
    padding-top: 20px;
    text-align: justify;
}

.img1{
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
    border: 5px solid #fff;
}