* {margin: 0;}

.h1prin {
    padding-top: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 60px;
    border-bottom: 1px solid #fff;
}

.div1{
    width: 100%;
}

.divsmart{
    width: 80%;
    display: block;
    margin: auto;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.651);
}

.pinici{
    color: #fff;
    font-size: 20px;
    padding: 50px;
    padding-top: 20px;
    text-align: justify;
}

.h1smart{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.psmart{
    color: black;
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}
